[package]
name = "process-stream"
version = "0.1.0"
edition = "2021"
description = "Thin wrapper around [`tokio::process`] to make it streamable"
authors = ["tami5 "]
license = "MIT"
readme = "README.md"
homepage = "https://github.com/tami5/process-stream"
repository = "https://github.com/tami5/process-stream"
categories = ["asynchronous"]
keywords = ["tokio", "stream", "async-stream", "process"]

[dependencies]
tap          = "1.0.1"
futures      = "0.3.21"
tokio        = { version = "1.18.0", features = [ "rt-multi-thread", "macros", "process"] } 
tokio-stream = { version = "0.1.8", features = ["io-util"] }
async-stream = "0.3.3"
